<p id="notice"><%= notice %></p>

<h1>All the Questions</h1>

<body>
  <div class="question-box"
    <ul class="question-list">
      <% @questions.each do |question| %>
        <li class="single-question"><%= link_to question.title, question %><%= question.created_at.strftime(" %B %e %Y") %></li>
      <% end %>
    </ul>
    <div id="new-quetion">
    <%= link_to "New Question", new_question_url %>
    </div>
  </div>
</body>
