<p id="notice"><%= notice %></p>

<h1>All the Questions</h1>

<body>
  <div class="question-box"
    <ul class="question-list">
      <% @questions.each do |question| %>
        <div id="single-question"><%= link_to question.title, question %><div id="date"><%= question.created_at.strftime(" %B %e %Y") %></div></div><br>
      <% end %>
    </ul>
    <div id="button">
    <%= link_to "New Question", new_question_url %>
    </div>
  </div>
</body>
