/*
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

.top-bar {
  background-color: #6495ED;
}

 body {
   padding: 20px;
   font: 1em Helvetica Neue, Helvetica, Arial, sans-serif;
 }

h1 {
  padding: 0 20px;
}

.question-box {
  border: 3px dotted #6495ED;
  border-radius: .5em;
  padding: 20px;
  width: 600px;
  margin-left: 1em;
  margin-bottom: 2em;
  box-sizing: border-box;
}
